// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

// Design du formulaire de saisie mail
.form-mail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group {
  width: 100%;
  flex-grow: 2;
  height: 40px;
  padding-right: 5px;
}

.btn {
  height: 40px;
}
.header-container {
  display:flex;
  justify-content: center;
    h2 {
      font-size: 30px;
      color: rgb(3, 75, 72);
      padding-top: 15px;
    }
}


// Design card-grid
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}
.card-services {
  flex-basis: calc(100% - 20px);
  // width: 100%;
  margin-top: 10px;
  margin-right: 5px;
  height: 200px;
  background-color: white;
  border: solid 1px rgb(3, 75, 72);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 1);
}
//Design des cards

.card-services .header {
  height: 30%;
  width: 100%;
    h3 {
      font-size: 20px;
      font-weight: bold;
      padding-top: 10px;
      text-align: center;
      color: rgb(3, 75, 72);
    }
}

.card-services .content {

}

.text-content {

  color: #498C8A;
}
.timeline {
  margin-top: 30px;

}
.process {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.steps {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: cadetblue;
}
