// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  margin-top: 30px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

// Design du formulaire de saisie mail
.form-mail{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-group {
  width: 100%;
  flex-grow: 2;
  height: 40px;
  padding-right: 5px;
}

.btn {
  height: 40px;
}
.header-container {
  display:flex;
  justify-content: center;
    h2 {
      font-size: 30px;
      color: rgb(3, 75, 72);
      padding-top: 15px;
    }
}


// Design card-grid
.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;

}
.card-services {
  flex-basis: calc(25% - 5px);
  // width: 100%;
  margin-top: 10px;
  margin-right: 5px;
  min-height: 200px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 0px rgba(212, 212, 212, 1);
}
//Design des cards

.card-services .header {
  height: 15%;
  width: 100%;
  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 10px 10px 10px 10px;
    color: rgb(3, 75, 72);
    border-bottom: 1px solid rgb(3, 75, 72);
    }
}

.card-services .content {
  height: 85%;
  width: 100%;
    p {
      font-size: 15px;
      font-weight: 1px;
      padding: 15px 15px 15px 15px;
    }

}

.text-content {

  color: #498C8A;
}
.timeline {
  margin-top: 30px;

}
.process {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.steps {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: cadetblue;
}


// media Query for Grid card Responsivness

@media(max-width: 1333px) {
  .card-services {
    flex-basis: 33.33%;
  }
}

@media(max-width: 1073px) {
  .card-services {
    flex-basis: 33.33%;
  }
}

@media(max-width: 815px) {
  .card-services {
    flex-basis: 50%;
  }
}

@media(max-width: 555px) {
  .card-services {
    flex-basis: 100%;
  }
}
