<div class="card-services">
  <div class="header">
    <h3>Gagner du temps</h3>
  </div>
  <div class="content">
    <p class="text-content">Grace à une plateforme mise à disposition du locataire, pour lui faciliter la déclaration d'incident en toute autonomie.<br>
    En quelques clics l'incident est préqualifé, le locataire entre en contact avec vos artisans de confiance et programme une intervention. <br>
    Un fois l'intervention réalisée, il valide la réparation et vous êtes directement informés.</p>
  </div>
</div>
