<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1460925895917-afdab827c52f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1404&q=80);">
  <h1 class="pl-3">Zenloc</h1>
  <p class='pl-3'>Repenser la gestion locative pour vous concentrer sur vos activités clés</p>
  <div class="container form pt-3">
    <%= render 'contacts/new' %>
  </div>
</div>
<div class="container-fluid">
  <div class="header-container">
    <h2>Zenloc vous permet de </h2>
  </div>

<%# Container des cards value proposition %>
  <div class="card-container">
    <%= render 'shared/card-time' %>
    <%= render 'shared/card-visibility' %>
    <%= render 'shared/card-efficiency' %>

  </div>

    <div class="timeline">
      <h2></h2>
        <div class="process">
          <div class="steps">
            <p>Etape 1<p>
          </div>
          <div class="steps">
            <p>Etape 2</p>
          </div>
          <div class="steps">
            <p>Etape 3</p>
          </div>
          <div class="steps">
            <p>Etape 4</p>
          </div>
        </div>
    </div>

</div>

