.navbar {
  justify-content: space-between;
  background-color: black;
}

.navbar-content {
  display: flex;
  flex-direction: row;
}

.title {
  position: relative;
  top: 10px;
  right: -50%;
  font-size: 30px;
  color: white;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}
